body {
  color: #212353;
  font-family: Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}
p,
h1,
h2,
h3,
h5,
h6,
h4,
li,
ul,
input,
button {
  margin: 0px;
  padding: 0px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1118px;
  padding: 0px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
}
/* ==========HEADER========== */
.header {
  padding: 50px 0px 150px;
  background-image: linear-gradient(180deg, #f6fafd 0%, #fff 100%);
}

.header-box {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}
.logo {
  margin-right: 121px;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  color: #4b5d68;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  cursor: pointer;
}
.nav-item:hover {
  color: #212353;
  font-weight: 800;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}

.white-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 17px 29px;
  min-width: 210px;
  min-height: 60px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.08px;
  font-family: Montserrat;
}
.arrow-white-btn {
  margin-left: 20px;
}

/* =========HERO=========== */
.hero {
  width: 100%;

  position: relative;
}

.hero-img {
  position: absolute;
  bottom: -100px;
  right: 0;
  z-index: 1;
}
.hero-title {
  width: 645px;
  margin-bottom: 50px;
  font-size: 80px;
  font-weight: 700;
  line-height: 110%;
}

.hero-text {
  width: 380px;
  color: #4b5d68;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 50px;
}

.learn-btn {
  display: inline-block;
  padding: 15px 37px 15px;
  min-width: 170px;
  height: 60px;
  border: none;
  border-radius: 50px;
  background: #9c69e2;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}

/* =======HELP======== */
.help {
  padding: 50px 0px 75px 0px;
}
.help-container {
  display: flex;
  justify-content: center;
  height: 560px;
  border-radius: 50px;
  background-color: rgba(240, 99, 184, 0.15);
}

.help-img {
  margin: 32px 62px 24px 11px;
}
.help-box {
  margin-top: 125px;
  margin-right: 93px;
}
.help-title {
  margin-bottom: 40px;
  color: #212353;
}
.help-text {
  color: #4b5d68;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  font-family: Montserrat;
}

/* =========FEATURES ======== */
.features {
  padding: 50px 0px 90px 0px;
}
.features-title {
  margin-bottom: 50px;
  text-align: center;
}
.features-subtitle {
  margin-bottom: 140px;
  color: #4b5d68;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  font-family: Montserrat;
}
.features-list {
  display: flex;
  gap: 55px;
  flex-wrap: wrap;
}
.features-item {
  flex-basis: calc(100% / 2 - 55px);

  display: flex;
}
.features-img {
  margin-right: 20px;
  margin-top: 30px;
}

.features-item-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}
.features-item-text {
  height: 160px;
  color: #4b5d68;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 20px;
}
.features-item-subtext {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.08px;
  margin-right: 20px;
}

.features-item-low-text {
  display: flex;
  align-items: center;
}
.features-item-low {
  margin-top: 35px;
}

/* ==========REVIEWS======== */
.reviews {
  padding: 90px 0px 150px 0px;
}
.reviews-wrapper {
  width: 1118px;
  height: auto;
  padding: 109px 76px 60px 93px;
  border-radius: 50px;
  background-color: #9c69e2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.reviews-title {
  color: #fff;
  margin-bottom: 88px;
}
.review-slide {
  width: 949px;
  height: 330px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 103px 50px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 20px 0px 0px rgba(121, 70, 204, 0.452);
  font-family: Montserrat;
}
.slide-content {
  padding-top: 20px;
}
.review-img {
  margin-right: 44px;
}
.slide-title {
  font-size: 18px;
  font-weight: 900;
  line-height: 160%;
  letter-spacing: 0.09px;
}
.slide-subtitile {
  margin-bottom: 19px;
  color: #9c69e2;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.14px;
}
.slide-text {
  color: #4b5d68;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
}
.switch-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-right {
  margin-right: 20px;
}

/* ===========TRY============ */
.try {
  padding: 100px 0px 75px;
  border-top: 2px solid rgba(156, 105, 226, 0.2);
}
.try-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.try-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 20px;
}
.try-text {
  color: #4b5d68;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}
.buttons {
  display: flex;
}
.try-btn {
  background: #f063b8;
  margin-right: 30px;
}

/* ======FOOTER========= */
footer {
  padding: 75px 0px 96px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
  padding-right: 34px;
}
.address-title {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}
.footer-logo {
  margin-right: 20px;
}

.adress-ttitle-text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 160%;
}
address {
  font-style: normal;
  font-family: Montserrat;
  line-height: 180%;
  letter-spacing: 0.16px;
  font-size: 16px;
}
.address-info {
  font-weight: 500;
  margin-bottom: 10px;
}
.footer-top {
  display: block;
  font-weight: 400;
}
.about {
  font-family: Montserrat;
}

.about-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 30px;
}
.about-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 250%;
}
.help-footer {
  font-family: Montserrat;
}
.help-footer-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 30px;
}

.help-footer-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 250%;
}
.social-footer-title {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 30px;
}

.additional-content {
  display: flex;
  justify-content: space-between;
}
.copyright-text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.12px;
}
